@use "colors";
$login_exit_button_color: colors.$theme_green_dark;

:host{
    align-self: center;
    display: flex;
    align-items: center;
}

.user-profile-picture{
    margin: 5px;
    height: 50px;
}