$background_dark: #0f0f14;

$theme_purple: #8b5cf6;
$theme_purple_light: #d4c7f4;
$theme_green: #22c55e;
$theme_green_light: #b5e7c7;
$theme_green_dark: #16a34a;

$text: white;
$black_text: #2e3c35;
$text_link: #FFF;
$text_link_hover: #EEE;
$text_link_active: #AAA;