/* You can add global styles to this file, and also import other style files */
@use 'colors';
@use 'fonts';

body {
    background-color: colors.$background_dark;
    color: colors.$text;
    margin: 0;
}

// Links should look slightly different from plain text, but not aberrant
.plain-link {
    color: colors.$text_link;
    text-decoration: none;

    &:visited{
        color: colors.$text_link;
    }
    &:hover{
        color: colors.$text_link_hover;
        cursor: pointer;
    }
    &:active{
        color: colors.$text_link_active;
    }
    
}