/* You can add global styles to this file, and also import other style files */
@use 'colors';
@use 'fonts';

body {
    background-color: colors.$background_dark;
    color: colors.$text;
    margin: 0;
}

// Links should look slightly different from plain text, but not aberrant
.plain-link {
    color: colors.$text_link;
    text-decoration: none;

    &:visited{
        color: colors.$text_link;
    }
    &:hover{
        color: colors.$text_link_hover;
    }
    &:active{
        color: colors.$text_link_active;
    }
    
}

.rounded-button{
    color: white;
    height: fit-content;
    background-color: colors.$theme_green_dark;
    padding: 2px 10px;
    margin: 5px;
    border: none;
    border-radius: 99999px;
    font-size: large;
    text-align: center;
    cursor: pointer;

    &:hover{
        filter: brightness(0.95);
    }
}