<div>
    <div class="make-post-section">
        @if (username) {
            <h3 class="post-greeting standart-font">Como se sente, @{{username}}?</h3>
            <div class="post-text-container">
                <textarea class="post-text standart-font" placeholder="Escreva aqui..." #newPostText></textarea>
            </div>
            <app-rounded-button (click)="makeNewPost(newPostText.value)">postar</app-rounded-button>
        } 
        @else {
            <h3 class="post-greeting standart-font">É novo por aqui?</h3>
            <div class="post-text-container">
                <h2 class="greeting-text standart-font">Crie uma conta e junte-se a várias outras pessoas que amam reclamar da vida!</h2>
                <!-- <textarea class="post-text standart-font" placeholder="Escreva aqui..." #newPostText></textarea> -->
            </div>
        }
    </div>

</div>
<div class="feed-section">
    @for (col of feed_columns(); track $index) {
        <div class="feed-column">
            @for (post of col; track post.slug) {
                <app-post [username]="post.author_details.username"
                [user_profile_picture]="post.author_details.picture"
                [text]="post.text"></app-post>
        }
        </div>
    }
</div>