<div class="post" [class.own]="isOwn()">
    <div class="mini-profile standart-font">
        <img [src]="user_profile_picture()">
        <h2 class="username">@{{username()}}</h2>
    </div>
    @if (!isEditing())
    {
        <p class="text standart-font">
            {{text()}}
        </p>
    }
    @else {
        <textarea [(ngModel)]="text"
        class="text standart-font edit-box"></textarea>
    }

    @if (isLoggedIn() && !isEditing())
    {
    <div class="post-buttons">
        <div class="b-left">
            <button (click)="onlike()">
                <span class="material-symbols-outlined" [class.liked]="isLiked()">Favorite</span>
                <span class="likes-count">{{likesCount()}}</span>
            </button>
        </div>

        @if (isOwn())
        {
        <div class="b-right">
            <button (click)="toggleEdit()">
                <span class="material-symbols-outlined">Edit</span>
            </button>
            <button (click)="onDelete()">
                <span class="material-symbols-outlined danger">Delete</span>
            </button>
        </div>
        }
    </div>
    }
    @else 
    {
        <div class="edit-button-container">
            <app-rounded-button (click)="saveEdit()" class="edit-save-button">salvar</app-rounded-button>
            <app-rounded-button (click)="toggleEdit()" class="edit-cancel-button">cancelar</app-rounded-button>
        </div>
    }
</div>