@use "colors";

$danger-icon-color: #FFAAAA;
$liked-color: #FF0000;

.post{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: colors.$theme_purple;
    border-radius: 50px 50px 0px 50px;
    width: 100%;
    max-height: 300px;
}

.mini-profile{
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    height: 40px;
}

.text {
    margin: 0px 0px 20px 0px;
    text-wrap-mode: wrap;
    word-wrap: break-word;
    width: 100%;
    overflow-y: scroll;
    font-size: 27px;
}

.edit-box {
    background-color: transparent;
    resize: none;
    height: 999999px;
    border: solid 1px black;
}

.post-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    background: none;
    border: none;
    color: white;
}

.material-symbols-outlined{
    color: white;
    &:hover{
        filter: brightness(0.85);
        cursor: pointer;
    }
    &:active{
        filter: brightness(0.80);
    }
}


.liked{
    color: $liked-color;
    font-variation-settings: 'FILL' 1;
}

.own {
    color: black;
    background-color: colors.$theme_green;
    border-radius: 0px 50px 50px 50px;
    
    button{
        color: black;
    }

    .material-symbols-outlined{
            color: black;
        &:hover{
            filter:opacity(0.50);
            cursor: pointer;
        }
        &:active{
            filter: opacity(0.35);
        }
    }

    .danger{
        &:hover{
            color: red;
            filter: opacity(1.0);
        }
        &:active{
            color: red;
            filter: brightness(0.65);
        }
    }
}

.danger{
    &:hover{
        color: $danger-icon-color;
    }
    &:active{
        color: $danger-icon-color;
    }
}

.edit-button-container{
    display: flex;
    justify-content: space-around;
    
    app-rounded-button{
        margin: 0;
    }

    .edit-save-button{
        background-color: colors.$theme_green_dark;
    }

    .edit-cancel-button{
        background-color: red;
    }
}