@use "colors";
$header_background_color: colors.$theme_purple;

*{
    margin: 0;
    padding: 0;
}

header{
    z-index: 99999;
    padding: 5px 10px;
    background-color: $header_background_color;
    display: flex;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.profile-section{
    position: absolute;
    right: 2%;
}